
<div>
  <div class="container h-100">
      <div class="row h-100 justify-content-center align-items-center">
        <div class="card " style="width: 40rem;">
          <div class="card-header text-center"><h3>Veterinarians</h3>
            <div class="card-body text-center">
              <% @veterinarians.each do |v| %>
                <p class="card-title">
                <a href= <%= veterinarian_path(v.id) %>><%= v.name %></a>
                <div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

<div class="container">
  
</div>