<div class="text-center">
    <ul class="list-group overflow-prob">
    <% @problems.each do |p| %>
    <li class="list-group-item"><%= p.horse.barn_name%><span class="badge"><a href= <%= problem_path(p.id) %>><%= p.id %></a></span></li>
    </ul>
<% end %>
</div>