/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 @import require sweetalert2
 @import rails_bootstrap_forms
 @import require toastr
 @import require jquery.fileupload
 @import jquery.fileupload-ui
 @import jquery-datetimepicker
 @import jquery.timepicker.css
 @import require_self
 @import require_tree .
 */

@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "fullcalendar";
@import "daterangepicker";
@import "jquery-confirm";
@import "uploadfile";





.anyClass {
    height:120px;
    overflow-y: scroll;
  }

  .anyList {
    height:145px;
    overflow-y: scroll;
  }

  .list-group-mine .list-group-item .list-group-item-action {
    background-color: #f1f9fb;
    border-top: 1px solid #0091b5;
    border-left-color: #fff;
    border-right-color: #fff;
  }
  
  .list-group-mine .list-group-item:hover {
    background-color: red;
  }

  .overflow-prob {
    overflow: scroll;
}

#allHorses {
  overflow-y: scroll;
  color: blue;
}

#allAdmin {
  color: darkred  
}

#adminViews {
  height:197px;
  overflow-y: scroll;
}




