<h1>Editing Charge</h1>

<%= render 'form', charge: @charge %>


<% if current_user.user.admin? || user.manager? %>
        <%= link_to 'Edit', edit_charge_path(params[:id]) %> <br />
     <% else %>
        <% if current_user.boarder? %>
            <%= link_to 'Show', @charge %> |
            <%= link_to 'Back', current_user %>
        <% end %>
        <% end %>